.alert-wrap {
  position: relative; }

.alert {
  padding-bottom: 50px; }

#alert-check {
  display: none; }
  #alert-check:checked ~ div, #alert-check:checked ~ label {
    display: none; }
  #alert-check + label {
    position: absolute;
    right: 16px;
    bottom: 10px;
    cursor: pointer; }
