[class^="collapsible-"] {
  transform: scaleY(0);
  transform-origin: 0 0;
  height: 0;
  transition: transform 0.3s ease; }

[id^="collapsible-"] {
  display: none; }
  [id^="collapsible-"]:checked + [class^="collapsible-"] {
    transform: scaleY(1);
    height: auto; }

label[for^="collapsible-"] {
  width: 100%;
  cursor: pointer;
  line-height: 20px; }
