.grid--1 {
  width: 10%; }

@media screen and (max-width: 1200px) {
  .grid-med--1 {
    width: 10% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--1 {
    width: 10%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--1 {
    width: 10%; } }

.margin--1 {
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--1 {
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--1 {
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--1 {
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--2 {
  width: 20%; }

@media screen and (max-width: 1200px) {
  .grid-med--2 {
    width: 20% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--2 {
    width: 20%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--2 {
    width: 20%; } }

.margin--2 {
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--2 {
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--2 {
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--2 {
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--3 {
  width: 30%; }

@media screen and (max-width: 1200px) {
  .grid-med--3 {
    width: 30% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--3 {
    width: 30%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--3 {
    width: 30%; } }

.margin--3 {
  margin-left: 30%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--3 {
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--3 {
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--3 {
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--4 {
  width: 40%; }

@media screen and (max-width: 1200px) {
  .grid-med--4 {
    width: 40% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--4 {
    width: 40%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--4 {
    width: 40%; } }

.margin--4 {
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--4 {
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--4 {
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--4 {
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--5 {
  width: 50%; }

@media screen and (max-width: 1200px) {
  .grid-med--5 {
    width: 50% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--5 {
    width: 50%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--5 {
    width: 50%; } }

.margin--5 {
  margin-left: 50%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--5 {
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--5 {
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--5 {
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--6 {
  width: 60%; }

@media screen and (max-width: 1200px) {
  .grid-med--6 {
    width: 60% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--6 {
    width: 60%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--6 {
    width: 60%; } }

.margin--6 {
  margin-left: 60%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--6 {
    margin-left: 60%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--6 {
    margin-left: 60%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--6 {
    margin-left: 60%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--7 {
  width: 70%; }

@media screen and (max-width: 1200px) {
  .grid-med--7 {
    width: 70% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--7 {
    width: 70%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--7 {
    width: 70%; } }

.margin--7 {
  margin-left: 70%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--7 {
    margin-left: 70%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--7 {
    margin-left: 70%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--7 {
    margin-left: 70%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--8 {
  width: 80%; }

@media screen and (max-width: 1200px) {
  .grid-med--8 {
    width: 80% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--8 {
    width: 80%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--8 {
    width: 80%; } }

.margin--8 {
  margin-left: 80%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--8 {
    margin-left: 80%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--8 {
    margin-left: 80%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--8 {
    margin-left: 80%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--9 {
  width: 90%; }

@media screen and (max-width: 1200px) {
  .grid-med--9 {
    width: 90% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--9 {
    width: 90%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--9 {
    width: 90%; } }

.margin--9 {
  margin-left: 90%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--9 {
    margin-left: 90%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--9 {
    margin-left: 90%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--9 {
    margin-left: 90%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--10 {
  width: 100%; }

@media screen and (max-width: 1200px) {
  .grid-med--10 {
    width: 100% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--10 {
    width: 100%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--10 {
    width: 100%; } }

.margin--10 {
  margin-left: 100%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--10 {
    margin-left: 100%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--10 {
    margin-left: 100%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--10 {
    margin-left: 100%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 1200px) {
  .margin-med--0 {
    margin-left: 0; } }

@media screen and (max-width: 800px) {
  .margin-small--0 {
    margin-left: 0; } }

@media screen and (max-width: 420px) {
  .margin-tiny--0 {
    margin-left: 0; } }

[class^="container"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.container--baseline {
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.container--center {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.container--start {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.container--end {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }
