input[type="email"], input[type="text"], input[type="password"], input[type="textarea"] {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 96%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252; }
  input[type="email"]:focus, input[type="email"]:valid, input[type="text"]:focus, input[type="text"]:valid, input[type="password"]:focus, input[type="password"]:valid, input[type="textarea"]:focus, input[type="textarea"]:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0; }
    input[type="email"]:focus::-webkit-input-placeholder, input[type="email"]:valid::-webkit-input-placeholder, input[type="text"]:focus::-webkit-input-placeholder, input[type="text"]:valid::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder, input[type="password"]:valid::-webkit-input-placeholder, input[type="textarea"]:focus::-webkit-input-placeholder, input[type="textarea"]:valid::-webkit-input-placeholder {
      color: #1abc9c;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important; }
input::-webkit-input-placeholder {
  transition: all 0.2s cubic-bezier(.64, .09, .08, 1); }
