label[for^="lightbox-"] {
  cursor: pointer;
  width: 100%;
  transition: none; }

input[id^="lightbox-"] {
  display: none; }

input[id^="lightbox-"]:checked {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%; }
  input[id^="lightbox-"]:checked:before {
    content: '';
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); }
  input[id^="lightbox-"]:checked + label {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50vw;
    position: fixed;
    z-index: 10; }
