a {
  background: linear-gradient(to top, rgba(40, 225, 189, 0.8) 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 100% 200%;
  background-position: 0 10%;
  background-repeat: no-repeat;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s cubic-bezier(.64, .09, .08, 1); }
  a:active {
    color: inherit; }
  a:hover {
    background-position: 0 100%; }
