.nav--horizontal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .nav--horizontal ul, .nav--horizontal ol {
    margin-left: 0; }
  .nav--horizontal > ul, .nav--horizontal > li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .nav--horizontal a {
    display: inline-block; }

.nav--vertical ul, .nav--vertical ol {
  margin-left: 0; }
.nav--vertical ul, .nav--vertical li, .nav--vertical a {
  display: inline-block;
  float: left;
  clear: left; }
.nav--vertical li:first-child a {
  margin-bottom: 7px; }
.nav--vertical li:last-child a {
  margin-top: 7px; }
.nav--vertical li a {
  margin-top: 7px;
  margin-bottom: 7px; }

.logo-area {
  width: 100%;
  height: 100px;
  border-bottom: solid 1px #e0e0e0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #474747; }

.nav--super-vertical {
  position: fixed;
  height: 100%;
  background: #efefef;
  z-index: 7;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .nav--super-vertical a, .nav--super-vertical label {
    width: 100%;
    display: block;
    text-decoration: none;
    color: #474747;
    cursor: pointer;
    font-weight: 500;
    padding: 20px 24px;
    transition: none;
    background-image: none; }
    .nav--super-vertical a:hover, .nav--super-vertical label:hover {
      background: #e0e0e0; }
  .nav--super-vertical input {
    display: none; }
    .nav--super-vertical input:checked + label {
      transition: background 0.2s cubic-bezier(.64, .09, .08, 1), color 0.2s cubic-bezier(.64, .09, .08, 1);
      background: #e0e0e0; }
    .nav--super-vertical input:checked ~ .nav-collapsible-links {
      height: auto;
      -webkit-transform: scaleY(1);
              transform: scaleY(1); }
      .nav--super-vertical input:checked ~ .nav-collapsible-links a {
        height: 54px; }

.nav-collapsible-links {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: -webkit-transform 0.3s cubic-bezier(.64, .09, .08, 1);
  transition: transform 0.3s cubic-bezier(.64, .09, .08, 1); }
  .nav-collapsible-links a {
    padding: 0 24px 0 34px;
    height: 0;
    font-weight: 400;
    transition: height 0.3s cubic-bezier(.64, .09, .08, 1);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

#nav--super-vertical-responsive, #nav--super-vertical-responsive + label, #nav--horizontal-responsive, #nav--horizontal-responsive + label {
  display: none; }

@media screen and (max-width: 1200px) {
  .nav--super-vertical {
    padding-top: 40px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transition: -webkit-transform 0.3s cubic-bezier(.64, .09, .08, 1);
    transition: transform 0.3s cubic-bezier(.64, .09, .08, 1); }
  #nav--super-vertical-responsive + label {
    display: block;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    padding: 10px;
    background: #efefef;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.09);
    cursor: pointer;
    transition: background 0.3s cubic-bezier(.64, .09, .08, 1), color 0.3s cubic-bezier(.64, .09, .08, 1); }
  #nav--super-vertical-responsive:checked + label {
    background: #1abc9c;
    color: white; }
  #nav--super-vertical-responsive:checked ~ .nav--super-vertical {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@media screen and (max-width: 900px) {
  .nav--horizontal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    transition: -webkit-transform 0.3s cubic-bezier(.64, .09, .08, 1);
    transition: transform 0.3s cubic-bezier(.64, .09, .08, 1); }
    .nav--horizontal ul, .nav--horizontal li, .nav--horizontal a {
      width: 100%;
      display: block;
      margin: 0; }
    .nav--horizontal a {
      line-height: 40px; }
    .nav--horizontal > ul {
      padding-top: 50px;
      background: #efefef;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.09); }
  #nav--horizontal-responsive + label {
    display: block;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    padding: 10px;
    background: #efefef;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.09);
    cursor: pointer;
    transition: background 0.3s cubic-bezier(.64, .09, .08, 1), color 0.3s cubic-bezier(.64, .09, .08, 1); }
  #nav--horizontal-responsive:checked + label {
    background: #1abc9c;
    color: white; }
  #nav--horizontal-responsive:checked ~ .nav--horizontal {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

header .nav--vertical a, header .nav--horizontal a {
  color: #1abc9c;
  background: white;
  padding: 10px;
  transition: none;
  will-change: background; }
  header .nav--vertical a:hover, header .nav--horizontal a:hover {
    background: #e5e5e5; }

.dropdown {
  position: relative; }
  .dropdown ul {
    position: absolute;
    background: white;
    left: 0;
    transition: all 0.3s ease;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    z-index: 2;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.09);
    width: 100%; }
    .dropdown ul li {
      width: 100%;
      margin: 0;
      padding: 0; }
      .dropdown ul li a {
        width: 100%;
        padding: 8px 10px;
        display: inline-block;
        margin: 0;
        border-radius: 0; }
  .dropdown:hover ul {
    -webkit-transform: scale(1);
            transform: scale(1); }
