@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700|Gentium+Book+Basic:400,700);
html, body {
  width: 100%; }

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  cursor: pointer; }

.grid--1 {
  width: 10%; }

@media screen and (max-width: 1200px) {
  .grid-med--1 {
    width: 10% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--1 {
    width: 10%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--1 {
    width: 10%; } }

.margin--1 {
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--1 {
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--1 {
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--1 {
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--2 {
  width: 20%; }

@media screen and (max-width: 1200px) {
  .grid-med--2 {
    width: 20% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--2 {
    width: 20%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--2 {
    width: 20%; } }

.margin--2 {
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--2 {
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--2 {
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--2 {
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--3 {
  width: 30%; }

@media screen and (max-width: 1200px) {
  .grid-med--3 {
    width: 30% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--3 {
    width: 30%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--3 {
    width: 30%; } }

.margin--3 {
  margin-left: 30%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--3 {
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--3 {
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--3 {
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--4 {
  width: 40%; }

@media screen and (max-width: 1200px) {
  .grid-med--4 {
    width: 40% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--4 {
    width: 40%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--4 {
    width: 40%; } }

.margin--4 {
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--4 {
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--4 {
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--4 {
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--5 {
  width: 50%; }

@media screen and (max-width: 1200px) {
  .grid-med--5 {
    width: 50% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--5 {
    width: 50%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--5 {
    width: 50%; } }

.margin--5 {
  margin-left: 50%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--5 {
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--5 {
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--5 {
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--6 {
  width: 60%; }

@media screen and (max-width: 1200px) {
  .grid-med--6 {
    width: 60% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--6 {
    width: 60%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--6 {
    width: 60%; } }

.margin--6 {
  margin-left: 60%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--6 {
    margin-left: 60%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--6 {
    margin-left: 60%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--6 {
    margin-left: 60%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--7 {
  width: 70%; }

@media screen and (max-width: 1200px) {
  .grid-med--7 {
    width: 70% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--7 {
    width: 70%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--7 {
    width: 70%; } }

.margin--7 {
  margin-left: 70%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--7 {
    margin-left: 70%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--7 {
    margin-left: 70%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--7 {
    margin-left: 70%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--8 {
  width: 80%; }

@media screen and (max-width: 1200px) {
  .grid-med--8 {
    width: 80% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--8 {
    width: 80%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--8 {
    width: 80%; } }

.margin--8 {
  margin-left: 80%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--8 {
    margin-left: 80%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--8 {
    margin-left: 80%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--8 {
    margin-left: 80%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--9 {
  width: 90%; }

@media screen and (max-width: 1200px) {
  .grid-med--9 {
    width: 90% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--9 {
    width: 90%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--9 {
    width: 90%; } }

.margin--9 {
  margin-left: 90%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--9 {
    margin-left: 90%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--9 {
    margin-left: 90%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--9 {
    margin-left: 90%;
    margin-top: 10px;
    margin-bottom: 10px; } }

.grid--10 {
  width: 100%; }

@media screen and (max-width: 1200px) {
  .grid-med--10 {
    width: 100% !important; } }

@media screen and (max-width: 800px) {
  .grid-small--10 {
    width: 100%; } }

@media screen and (max-width: 420px) {
  .grid-tiny--10 {
    width: 100%; } }

.margin--10 {
  margin-left: 100%;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .margin-med--10 {
    margin-left: 100%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 800px) {
  .margin-small--10 {
    margin-left: 100%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 420px) {
  .margin-tiny--10 {
    margin-left: 100%;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 1200px) {
  .margin-med--0 {
    margin-left: 0; } }

@media screen and (max-width: 800px) {
  .margin-small--0 {
    margin-left: 0; } }

@media screen and (max-width: 420px) {
  .margin-tiny--0 {
    margin-left: 0; } }

[class^="container"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.container--baseline {
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.container--center {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.container--start {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.container--end {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.09);
  border-radius: 3px; }

.tile, .card {
  padding: 20px;
  background: white; }

div, p, h1, h2, h3, h4, h5, h6, a, input, label, header, aside, menu, body {
  font-family: Roboto, sans-serif;
  color: #212121; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 20px; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 27px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 21px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 15px; }

p, a {
  font-size: 16px; }

.subtitle {
  font-style: italic;
  color: #919191; }

body {
  background: #efefef; }

[class^="btn"] {
  transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  cursor: pointer;
  background-size: 1%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.4s cubic-bezier(.64, .09, .08, 1);
  padding: 10px 20px;
  display: inline-block;
  font-family: Roboto;
  border: 0; }
  [class^="btn"]:after {
    position: absolute;
    content: '';
    transition: none;
    background: radial-gradient(circle, white 95%, transparent 95%);
    background-size: 0.7%;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  [class^="btn"]:focus {
    outline: none;
    background-size: 1000%;
    transition: all 1s cubic-bezier(.64, .09, .08, 1); }

.btn--float {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: radial-gradient(circle, #ffeb3b 1%, #fff387 15%, transparent 30%);
  background-color: #ffeb3b; }
  .btn--float:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffee55; }

.btn--raised, .modal-trigger, .modal-trigger:after {
  border-radius: 1.98px;
  background-color: #28e1bd;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-image: radial-gradient(circle, #28e1bd 1%, #6bebd1 15%, transparent 30%);
  background-color: #28e1bd; }
  .btn--raised:hover, .modal-trigger:hover, .modal-trigger:hover:after {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #3ee4c4; }

.btn--flat {
  background-image: radial-gradient(circle, #28e1bd 1%, #6bebd1 15%, transparent 30%);
  background-color: #28e1bd;
  background-color: #efefef;
  box-shadow: none; }

a {
  background: linear-gradient(to top, rgba(40, 225, 189, 0.8) 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 100% 200%;
  background-position: 0 10%;
  background-repeat: no-repeat;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s cubic-bezier(.64, .09, .08, 1); }
  a:active {
    color: inherit; }
  a:hover {
    background-position: 0 100%; }

table {
  width: 100%; }

.table--header {
  color: #474747;
  font-size: 16px;
  line-height: 52px; }

tr {
  font-size: 17px;
  line-height: 52px;
  border-bottom: solid 1px #ebebeb; }
  tr:not(.table--header):hover {
    background: #ebebeb; }

td:first-child {
  padding-left: 40px; }
td:last-child {
  padding-right: 40px; }

header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #1abc9c;
  margin-bottom: 20px; }
  header h1, header h2, header h3 {
    color: white; }

.nav--horizontal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .nav--horizontal ul, .nav--horizontal ol {
    margin-left: 0; }
  .nav--horizontal > ul, .nav--horizontal > li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .nav--horizontal a {
    display: inline-block; }
  .nav--horizontal li {
    /* 		&:first-child a {
			margin-right: $space-small*0.7;
		}
		&:last-child a {
			margin-left: $space-small*0.7;
		}
		a {
			margin-left: $space-small*0.7;
			margin-right: $space-small*0.7;
		} */ }

.nav--vertical ul, .nav--vertical ol {
  margin-left: 0; }
.nav--vertical ul, .nav--vertical li, .nav--vertical a {
  display: inline-block;
  float: left;
  clear: left; }
.nav--vertical li:first-child a {
  margin-bottom: 7px; }
.nav--vertical li:last-child a {
  margin-top: 7px; }
.nav--vertical li a {
  margin-top: 7px;
  margin-bottom: 7px; }

header .nav--vertical a, header .nav--horizontal a {
  color: #1abc9c;
  background: white;
  padding: 10px;
  transition: none; }
  header .nav--vertical a:hover, header .nav--horizontal a:hover {
    background: #e5e5e5; }

.dropdown {
  position: relative; }
  .dropdown ul {
    position: absolute;
    background: white;
    left: 0;
    transition: all 0.3s ease;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    z-index: 2;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.09);
    width: 100%; }
    .dropdown ul li {
      width: 100%;
      margin: 0;
      padding: 0; }
      .dropdown ul li:first-child a {
        border-radius: 3px 3px 0 0; }
      .dropdown ul li:last-child a {
        border-radius: 0 0 3px 3px;
        margin-left: 0; }
      .dropdown ul li a {
        width: 100%;
        padding: 8px 10px;
        display: inline-block;
        margin: 0;
        border-radius: 0; }
  .dropdown:hover ul {
    -webkit-transform: scale(1);
            transform: scale(1); }

ul, ol {
  margin-left: 40px; }
  ul li, ol li {
    margin-top: 10px; }

ol {
  list-style-type: decimal;
  white-space: nowrap; }

footer {
  display: block;
  width: 100%;
  background: #28e1bd;
  padding-top: 20px;
  padding-bottom: 20px; }

input[id^="modal-"] {
  display: none; }
  input[id^="modal-"]:checked + label {
    outline: none;
    background-size: 1000%;
    transition: all 1s cubic-bezier(.64, .09, .08, 1); }
    input[id^="modal-"]:checked + label:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
      z-index: 3; }
  input[id^="modal-"]:checked ~ .modal-content {
    transition: opacity 0.3s cubic-bezier(.64, .09, .08, 1);
    opacity: 1;
    display: block;
    height: auto;
    width: auto;
    padding: 40px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 4; }
    input[id^="modal-"]:checked ~ .modal-content * {
      height: auto;
      width: auto; }

.modal-trigger {
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
  padding: 10px 20px;
  background-size: 1%;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .modal-trigger:after {
    white-space: nowrap;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(.64, .09, .08, 1);
    background-image: none; }

.modal-content {
  position: fixed;
  opacity: 0;
  height: 0;
  background: white;
  border-radius: 3px; }
  .modal-content * {
    width: 0;
    height: 0; }

.tooltip {
  position: relative; }
  .tooltip:hover:after {
    position: absolute;
    content: attr(data-text);
    background: #9e9e9e;
    border-radius: 3px;
    padding: 8px;
    bottom: -2em;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2; }

.tabs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0; }

.tabs input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1; }
  .tabs input[type="radio"][name="tabs"]:checked + .tab-label-content label {
    color: white; }
  .tabs input[type="radio"][name="tabs"]:checked + .tab-label-content .tab-content {
    display: block; }
  .tabs input[type="radio"][name="tabs"]:first-of-type:checked ~ .slide {
    left: 0; }

.tabs input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .slide-demo {
  left: 0%;
  left: calc((100% / 3) * 0); }
.tabs input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .slide-demo {
  left: 33.33333%;
  left: calc((100% / 3) * 1); }
.tabs input[type="radio"][name="tabs"]:nth-of-type(3):checked ~ .slide-demo {
  left: 66.66667%;
  left: calc((100% / 3) * 2); }

.slide-demo {
  width: 33.33333%;
  width: calc(100% / 3); }

.tab-label-content:nth-of-type(1) .tab-content {
  left: 0%; }
.tab-label-content:nth-of-type(2) .tab-content {
  left: -100%; }
.tab-label-content:nth-of-type(3) .tab-content {
  left: -200%; }

.tab-content {
  width: 300%; }

.tabs label {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  background-color: #1abc9c;
  box-sizing: border-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 56px;
  transition: color 0.2s cubic-bezier(.64, .09, .08, 1);
  width: 100%; }

.slide {
  background: #ffeb3b;
  height: 4px;
  position: absolute;
  left: 0;
  top: 52px;
  transition: left 0.3s cubic-bezier(.64, .09, .08, 1); }

.tab-label-content {
  width: 100%; }
  .tab-label-content .tab-content {
    padding: 10px;
    position: relative;
    padding: 20px;
    display: none; }

.card.tabs .tab-label-content:first-of-type label {
  border-top-left-radius: 3px; }
.card.tabs .tab-label-content:nth-last-child(2) label {
  border-top-right-radius: 3px; }

label {
  color: #2e2e2e; }

input[type="email"], input[type="text"], input[type="password"], input[type="textarea"] {
  margin-bottom: 40px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 96%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252; }
  input[type="email"]:focus, input[type="email"]:valid, input[type="text"]:focus, input[type="text"]:valid, input[type="password"]:focus, input[type="password"]:valid, input[type="textarea"]:focus, input[type="textarea"]:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0; }
    input[type="email"]:focus::-webkit-input-placeholder, input[type="email"]:focus::-moz-input-placeholder, input[type="email"]:focus:-moz-input-placeholder, input[type="email"]:valid::-webkit-input-placeholder, input[type="email"]:valid::-moz-input-placeholder, input[type="email"]:valid:-moz-input-placeholder, input[type="text"]:focus::-webkit-input-placeholder, input[type="text"]:focus::-moz-input-placeholder, input[type="text"]:focus:-moz-input-placeholder, input[type="text"]:valid::-webkit-input-placeholder, input[type="text"]:valid::-moz-input-placeholder, input[type="text"]:valid:-moz-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-moz-input-placeholder, input[type="password"]:focus:-moz-input-placeholder, input[type="password"]:valid::-webkit-input-placeholder, input[type="password"]:valid::-moz-input-placeholder, input[type="password"]:valid:-moz-input-placeholder, input[type="textarea"]:focus::-webkit-input-placeholder, input[type="textarea"]:focus::-moz-input-placeholder, input[type="textarea"]:focus:-moz-input-placeholder, input[type="textarea"]:valid::-webkit-input-placeholder, input[type="textarea"]:valid::-moz-input-placeholder, input[type="textarea"]:valid:-moz-input-placeholder {
      color: #1abc9c;
      font-size: 11px;
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
      visibility: visible !important; }
input::-webkit-input-placeholder {
  transition: all 0.2s cubic-bezier(.64, .09, .08, 1); }

input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id^="lightbox-"]) {
  position: relative;
  cursor: pointer; }
  input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id^="lightbox-"]):before {
    content: '';
    width: 16px;
    height: 16px;
    border: solid 2px #1abc9c;
    border-radius: 3px;
    background: white;
    transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
    position: absolute; }
  input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id^="lightbox-"]):after {
    content: '✓';
    color: white;
    background: #1abc9c;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: solid 2px #1abc9c;
    border-radius: 3px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(.64, .09, .08, 1); }
  input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id^="lightbox-"]):checked:after {
    opacity: 1; }
  input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id^="lightbox-"]):focus {
    outline: none; }

input[type="radio"] {
  position: relative;
  top: 2px;
  left: 2px;
  margin: 0 8px;
  cursor: pointer; }
  input[type="radio"]:before {
    content: '';
    background-color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: solid 2px #1abc9c;
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -2px;
    background-image: radial-gradient(circle, #1abc9c 40%, white 50%);
    background-size: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
    z-index: 2; }
  input[type="radio"]:after {
    content: '';
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    position: absolute;
    transition: all 0.3s cubic-bezier(.64, .09, .08, 1); }
  input[type="radio"]:checked:before {
    background-size: 14px 14px; }
  input[type="radio"]:focus {
    outline: none; }

select {
  border: none;
  border-bottom: solid 1px #9e9e9e;
  color: #212121;
  padding: 6px;
  cursor: pointer; }

input[type=range] {
  -webkit-appearance: none; }
  input[type=range]:focus {
    outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  cursor: pointer;
  background: #9e9e9e; }

input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #2ecc71;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.09); }

input[type=range]::-moz-range-track {
  height: 3px;
  cursor: pointer;
  background: #9e9e9e; }

input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: none;
  background: #2ecc71;
  cursor: pointer; }

input[type=range]::-ms-track {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #2ecc71; }

input[type=range]::-ms-fill-upper {
  background: #9e9e9e; }

input[type=range]::-ms-thumb {
  background: #2ecc71; }

.toggle {
  display: none; }
  .toggle:checked + label {
    background: #93e7b6; }
    .toggle:checked + label:after {
      background: #2ecc71;
      margin-left: 18px; }

.toggle + label {
  position: absolute;
  width: 30px;
  height: 6px;
  margin-top: 12px;
  background: #9e9e9e;
  transition: all 0.3s ease; }
  .toggle + label:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #dedede;
    display: inline-block;
    cursor: pointer;
    margin-top: -4px;
    margin-left: -1px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.09); }

label[for^="lightbox-"] {
  cursor: pointer;
  width: 100%;
  transition: none; }

input[id^="lightbox-"] {
  display: none; }

input[id^="lightbox-"]:checked {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%; }
  input[id^="lightbox-"]:checked:before {
    content: '';
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); }
  input[id^="lightbox-"]:checked + label {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50vw;
    position: fixed;
    z-index: 4; }

.right {
  float: right; }

.left {
  float: left; }

.no-pad {
  padding: 0; }

.fade-in-from-top {
  opacity: 0;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  animation: fadeInVert 0.5s ease-out forwards;
  -webkit-animation: fadeInVert 0.5s ease-out forwards; }

.fade-in-from-bottom {
  opacity: 0;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  animation: fadeInVert 0.5s ease-out forwards;
  -webkit-animation: fadeInVert 0.5s ease-out forwards; }

@keyframes fadeInVert {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes fadeInVert {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.fade-in-from-left {
  opacity: 0;
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
  animation: fadeInHoriz 0.5s ease-out forwards;
  -webkit-animation: fadeInHoriz 0.5s ease-out forwards; }

.fade-in-from-right {
  opacity: 0;
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
  animation: fadeInHoriz 0.5s ease-out forwards;
  -webkit-animation: fadeInHoriz 0.5s ease-out forwards; }

@keyframes fadeInHoriz {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes fadeInHoriz {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.anim-delay-5 {
  animation-delay: 500ms;
  -webkit-animation-delay: 500ms; }

.anim-delay-10 {
  animation-delay: 1000ms;
  -webkit-animation-delay: 1000ms; }

.anim-delay-15 {
  animation-delay: 1500ms;
  -webkit-animation-delay: 1500ms; }

.anim-delay-20 {
  animation-delay: 2000ms;
  -webkit-animation-delay: 2000ms; }

.anim-delay-25 {
  animation-delay: 2500ms;
  -webkit-animation-delay: 2500ms; }

.anim-delay-30 {
  animation-delay: 3000ms;
  -webkit-animation-delay: 3000ms; }

.anim-delay-35 {
  animation-delay: 3500ms;
  -webkit-animation-delay: 3500ms; }

.anim-delay-40 {
  animation-delay: 4000ms;
  -webkit-animation-delay: 4000ms; }

.anim-delay-45 {
  animation-delay: 4500ms;
  -webkit-animation-delay: 4500ms; }

.anim-delay-50 {
  animation-delay: 5000ms;
  -webkit-animation-delay: 5000ms; }

img {
  width: 100%; }

.alert-wrap {
  position: relative; }

.alert {
  padding-bottom: 50px; }

#alert-check {
  display: none; }
  #alert-check:checked ~ div, #alert-check:checked ~ label {
    display: none; }
  #alert-check + label {
    position: absolute;
    right: 16px;
    bottom: 10px;
    cursor: pointer; }

[id^="collapsible-"] {
  display: none; }
  [id^="collapsible-"]:checked ~ [class^="collapsible-"][class$="area"] {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    height: auto;
    padding: 15px 20px;
    margin-bottom: 20px; }
  [id^="collapsible-"]:checked + label:before {
    margin-top: 5px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  [id^="collapsible-"]:checked + label:after {
    margin-top: 5px;
    -webkit-transform: rotate(45deg) translate(4px, -3px);
            transform: rotate(45deg) translate(4px, -3px); }

label[for^="collapsible-"] {
  width: 100%;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 15px 20px;
  border-bottom: solid 1px #ebebeb;
  color: #474747;
  border-radius: 3px; }
  label[for^="collapsible-"]:before, label[for^="collapsible-"]:after {
    content: '';
    position: absolute;
    right: 20px;
    width: 2px;
    height: 8px;
    background: #9e9e9e;
    transition: all 0.3s ease; }
  label[for^="collapsible-"]:before {
    margin-top: 2px;
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg); }
  label[for^="collapsible-"]:after {
    margin-top: 6px;
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg); }

[class^="collapsible-"][class$="area"] {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  height: 0;
  transition: all 0.3s ease;
  padding-left: 20px; }
