@import './_imports/_variables';

@for $i from 1 through $grid-columns {
	.g--#{$i} {
		width: 100%/$grid-columns*$i;
		margin-top: $space-big;
		margin-bottom: $space-big;
	}
	.m--#{$i} {
		margin-left: 100%/$grid-columns*$i;
	}
}

.m--0 {
	margin-left: 0;
}

[class*="container"] {
	display: flex;
}

.container--baseline {
	align-items: baseline;
}

.container--center {
	align-items: center;
}

.container--start {
	align-items: flex-start;
}

.container--end {
	align-items: flex-end;
}

.container--justify {
	justify-content: center;
}

.container--wrap {
	flex-wrap: wrap;
}

.nudge--right {
	margin-right: $space-med;
}

.nudge--left {
	margin-left: $space-med;
}

@media screen and (max-width: $media-med) {
  @for $i from 1 through $grid-columns {
		.g-m--#{$i} {
			width: 100%/$grid-columns*$i;
			margin-top: $space-med*1.3;
			margin-bottom: $space-med*1.3;
		}
    .m-m--#{$i} {
      margin-left: 100%/$grid-columns*$i;
    }
  }
  .m-m--0 {
		margin-left: 0;
	}
  .container--wrap--m {
    flex-wrap: wrap;
  }
  .no-nudge--m {
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and (max-width: $media-small) {
  @for $i from 1 through $grid-columns {
		.g-s--#{$i} {
			width: 100%/$grid-columns*$i;
			margin-top: $space-med*0.9;
			margin-bottom: $space-med*0.9;
		}
		.m-s--#{$i} {
			margin-left: 100%/$grid-columns*$i;

		}
	}
	.m-s--0 {
		margin-left: 0;
	}
  .container--wrap--s {
		flex-wrap: wrap;
	}
  .nudge--right {
		margin-right: $space-med*0.75;
	}
  .nudge--left {
		margin-left: $space-med*0.75;
	}
  .no-nudge--s {
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and (max-width: $media-tiny) {
  @for $i from 1 through $grid-columns {
		.g-t--#{$i} {
			width: 100%/$grid-columns*$i;
			margin-top: $space-small;
			margin-bottom: $space-small;
		}
		.m-t--#{$i} {
			margin-left: 100%/$grid-columns*$i;
		}
	}
	.m-t--0 {
		margin-left: 0;
	}
  .container--wrap--t {
		flex-wrap: wrap;
	}
  .nudge--right {
		margin-right: $space-small;
	}
  .nudge--left {
		margin-left: $space-small;
	}
  .no-nudge--t {
		margin-left: 0;
		margin-right: 0;
	}
}