@import './_imports/_variables';

@for $i from 1 through $grid-columns {
	.grid--#{$i} {
		width: 100%/$grid-columns*$i;
	}
	@media screen and (max-width: $media-med) {
		.grid-med--#{$i} {
			width: 100%/$grid-columns*$i !important;
		}
	}
	@media screen and (max-width: $media-small) {
		.grid-small--#{$i} {
			width: 100%/$grid-columns*$i;
		}
	}
	@media screen and (max-width: $media-tiny) {
		.grid-tiny--#{$i} {
			width: 100%/$grid-columns*$i;
		}
	}
	.margin--#{$i} {
		margin-left: 100%/$grid-columns*$i;
		margin-top: $space-med;
		margin-bottom: $space-med;
	}
	@media screen and (max-width: $media-med) {
		.margin-med--#{$i} {
			margin-left: 100%/$grid-columns*$i;
			margin-top: $space-med;
			margin-bottom: $space-med;
		}
	}
	@media screen and (max-width: $media-small) {
		.margin-small--#{$i} {
			margin-left: 100%/$grid-columns*$i;
			margin-top: $space-small;
			margin-bottom: $space-small;
		}
	}
	@media screen and (max-width: $media-tiny) {
		.margin-tiny--#{$i} {
			margin-left: 100%/$grid-columns*$i;
			margin-top: $space-small;
			margin-bottom: $space-small;
		}
	}
}

@media screen and (max-width: $media-med) {
	.margin-med--0 {
		margin-left: 0;
	}
}

@media screen and (max-width: $media-small) {
	.margin-small--0 {
		margin-left: 0;
	}
}

@media screen and (max-width: $media-tiny) {
	.margin-tiny--0 {
		margin-left: 0;
	}
}

[class^="container"] {
	display: flex;
}

.container--baseline {
	align-items: baseline;
}

.container--center {
	align-items: center;
}

.container--start {
	align-items: flex-start;
}

.container--end {
	align-items: flex-end;
}