@import './_imports/_variables',
				'./_imports/_colors';

table {
	width: 100%;
}

.table-header {
	color: lighten($black, 15%);
	font-size: $font-med;
	line-height: $space-big*1.3;
}

tr {
	font-size: $font-med + 1px;
	line-height: $space-big*1.3;
	border-bottom: solid 1px lighten($grey, 30%);
	will-change: background;
	&:not(.table-header) {
		&:hover {
			background: lighten($grey, 30%);
		}
	}
}

td {
	&:first-child {
		padding-left: $space-big;
		@media screen and (max-width: $media-med) {
			padding-left: $space-big*0.8;
		}
		@media screen and (max-width: $media-small) {
			padding-left: $space-med;
		}
	}
	&:last-child {
		padding-right: $space-big;
		@media screen and (max-width: $media-med) {
			padding-right: $space-big*0.8;
		}
		@media screen and (max-width: $media-small) {
			padding-right: $space-med;
		}
	}

}
