@import './_imports/_variables';

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700|Gentium+Book+Basic:400,700);

div, p, h1, h2, h3, h4, h5, h6, a, input, label, header, aside, menu, body {
	font-family: $sans;
	color: $black;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1em*0.8;
	line-height: 130%;
}

p {
	margin-bottom: $space-med;
}

h1 {
	font-size: $font-huge;
}

h2 {
	font-size: $font-huge*0.85;
}

h3 {
	font-size: $font-huge*0.7;
}

h4 {
	font-size: $font-huge*0.62;
}

h5 {
	font-size: $font-huge*0.52;
}

h6 {
	font-size: $font-huge*0.45;
}

p, a {
	font-size: $font-med;
}

.subtitle {
	font-style: italic;
	color: darken($grey, 5%);
}