.right {
	float: right;
}

.left {
	float: left;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.block {
	display: iblock;
}

.clear {
	clear: both;
}

.no-pad {
	padding: 0;
}

.no-margin-vertical {
	margin-top: 0;
	margin-bottom: 0;
}

.no-margin {
	margin: 0;
}
